@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.nav-item {
    padding: 10px 20px;
}
.nav-item .active {
    font-weight: bolder;
}
.navbar {
    opacity: 0.95 !important;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
    border: none !important;
    box-shadow: 0 !important;
}

/* Layouting Rule */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.min-vh-100 {
    min-height: 100vh;
}
h2 {
    font-weight: 900;
}
.text-purple {
    color: rgba(54, 30, 118, 1);
}
.bg-purple {
    background: rgba(105, 52, 244, 1);
}
.bg-black {
    background: black;
}

/* Custom Button */
.custom-btn-light {
    background: none !important;
    border: white 2px;
    color: white;
    box-shadow: 0px 0px 10px #ffffff;
    border-radius: 36px;
    padding: 10px 40px;
    transition: 0.5s ease-in-out;
}
.custom-btn-light:hover {
    box-shadow: 0px 0px 40px #ffffff;
}
#whatsapp-button {
    background: linear-gradient(74.84deg, #27B53D 54.34%, #52CE5F 91.53%);
    box-shadow: 0px 0px 10px #bfffc5;
    border-radius: 36px;
    border: none;
    padding: 5px 20px;
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    padding: 8px 25px;
    animation: pulse 1.5s infinite ease-in-out;
}
#whatsapp-button:hover {
    box-shadow: 0px 0px 20px #bfffc5;
}

/* Hero Section */
#home {
    background: linear-gradient(141.49deg, #8C1DE2 49.38%, rgba(36, 0, 255, 0.72) 103.37%);
}
#home h1 {
    font-size: 52px;
    font-weight: 900;
}
#hero-decor-icon, #hero-icon {
    position: relative;
}
#hero-icon {
    z-index: 1;
    top: 150px;
    animation: float 3s infinite ease-in-out;
}
#hero-decor-icon {
    z-index: 0;
    bottom: 150px;
    left: 50px;
    animation: float 2s infinite ease-in-out;
}

/* Footer Section */
#contact a {
    transition: 0.5s all;
    color: white;
}
#contact a:hover {
    color: rgba(105, 52, 244, 1) !important;
}